body{
    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
    /* margin-left: 20px;
    margin-top: 20px; */
    margin: 2.5rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.red{
    background-color: rgb(199, 72, 72);
}
.yellow{
    background-color: rgb(172, 172, 62);
}
.green{
    background-color: rgb(68, 182, 68);
}
.purple{
    background-color: rgb(178, 46, 178);
}
.Flash{
    background-color: white;
}
.userFlash{
    background-color: green;
}